{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{{ app_name }} {% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div id="container">
    <div id="header">
        <div id="logo"><a href="{{ path('dashboard') }}">{{ app_name }}</a></div>
        <div id="menu-user"></div>
    </div>
    <div id="main">
        <div id="navigation">{% block navigation %}{% endblock %}</div>
        <div id="content">{% block body %}{% endblock %}</div>
    </div>
    <div id="footer"></div>
    {% block javascripts %}{% endblock %}
</div>
</body>
</html>
