{% extends 'base.html.twig' %}

{% block title %} - Dashboard {% endblock %}

{% block navigation %}
    <ul id="navigation-list">
        <li class="navigation-item"><a href="#">link</a></li>
        <li class="navigation-item"><a href="#">link</a></li>
        <li class="navigation-item"><a href="#">link</a></li>
        <li class="navigation-item"><a href="#">link</a></li>
        <li class="navigation-item"><a href="#">link</a></li>
    </ul>
{% endblock %}

{% block body %}
    <div class="content-block">
        <h3>Welcome!</h3>
        <p>This is your dashboard. In time you will see all the relevant info of your most recent work here.</p>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="sidebar-block">
        <p>Placeholder for sidebar content.</p>
    </div>
{% endblock %}