/* Default style base */
$base-font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif
$base-font-size: 0.9em
$base-font-color: #262626
$base-link-color: darkorange
$base-link-hover: saddlebrown
$base-logo-image: '../images/parable-logo_200px.png'


//
///* main */
//#container {
//  font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
//  font-size: 0.9em;
//  color: #262626;
//}
//
//a {
//  color: darkorange;
//}
//
//a:hover {
//  color: saddlebrown;
//}
//
//#logo {
//  width: 200px;
//  height: 80px;
//  background: transparent url('../images/parable-logo_200px.png') top left;