/* Default style base */
$base-font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif
$base-font-size: 0.9em
$base-font-color: #262626
$base-link-color: darkorange
$base-link-hover: saddlebrown
$base-logo-image: '../images/parable-logo_100px.png'
$base-bg-color: white
$base-bar-one-color: #D9C693
$base-bar-two-color: #E8DBBA
$base-bar-three-color: #BAC7E8
$base-bar-four-color: #D3D5DB
