/* The default theme for the parable application. */

@import "base"

#container
  font-family: $base-font-family
  font-size: $base-font-size
  color: $base-font-color

a
  color: $base-link-color

a:hover
  color: $base-link-hover

#logo
  width: 200px
  height: 80px
  background: transparent url($base-logo-image) top left

