/* The default theme for the parable application. */

@import "base"

/* full height layout */
html, body
  height: 100%

#container
  min-height: 100%
  overflow: hidden

#leftbar, #content, #rightbar
  margin-bottom: -9999px
  padding-bottom: 9999px

/* basic styling */
#container
  font-family: $base-font-family
  font-size: $base-font-size
  color: $base-font-color
  background-color: $base-bg-color
  overflow: hidden

a
  color: $base-link-color

a:hover
  color: $base-link-hover

#header
  background-color: $base-header-color

#navigation
  background-color: $base-nav-bg-color
  color: $base-nav-font-color

#navigation a
  color: $base-nav-link-color

#navigation a:hover
  color: $base-nav-hover-link-color

#leftbar
  background-color: $base-leftbar-bg-color
  color: $base-leftbar-font-color

#leftbar a
  color: $base-leftbar-link-color

#leftbar a:hover
  color: $base-leftbar-hover-link-color

#content
  background-color: $base-content-bg-color
  color: $base-content-font-color

#content a
  color: $base-content-link-color

#content a:hover
  color: $base-content-hover-link-color

#rightbar
  background-color: $base-rightbar-bg-color
  color: $base-rightbar-font-color

#rightbar a
  color: $base-rightbar-link-color

#rightbar a:hover
  color: $base-rightbar-hover-link-color

.content-block
  padding: $base-padding-medium

.sidebar-block
  padding: $base-padding-medium

#logo
  width: $base-logo-width
  height: $base-logo-height
  background: transparent url($base-logo-image) top left
  text-indent: -9999px