{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-block">
        <h3>Welcome!</h3>
        <p>Story creation form here.</p>
    </div>
{% endblock %}

{% block leftbar %}
    <div class="sidebar-block">
        <p>Placeholder for left sidebar content.</p>
    </div>
{% endblock %}

{% block rightbar %}
    <div class="sidebar-block">
        <p>Placeholder for right sidebar content.</p>
    </div>
{% endblock %}