body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    color: #262626;
}

a {
    color: darkorange;
}

a:hover {
    color: saddlebrown;
}

#logo {
    width: 200px;
    height: 80px;
    background: transparent url('../images/parable-logo_200px.png') top left;
}