/* The default theme for the parable application. */
/* Default style base */
/* full height layout */
/* line 6, ../sass/theme-default.sass */
html, body {
  height: 100%;
}

/* line 9, ../sass/theme-default.sass */
#container {
  min-height: 100%;
  overflow: hidden;
}

/* line 13, ../sass/theme-default.sass */
#leftbar, #content, #rightbar {
  margin-bottom: -9999px;
  padding-bottom: 9999px;
}

/* basic styling */
/* line 18, ../sass/theme-default.sass */
#container {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #262626;
  background-color: white;
  overflow: hidden;
}

/* line 25, ../sass/theme-default.sass */
a {
  color: darkorange;
}

/* line 28, ../sass/theme-default.sass */
a:hover {
  color: saddlebrown;
}

/* line 31, ../sass/theme-default.sass */
#header {
  background-color: white;
}

/* line 34, ../sass/theme-default.sass */
#navigation {
  background-color: white;
  color: black;
}

/* line 38, ../sass/theme-default.sass */
#navigation a {
  color: darkorange;
}

/* line 41, ../sass/theme-default.sass */
#navigation a:hover {
  color: darkorange;
}

/* line 44, ../sass/theme-default.sass */
#leftbar {
  background-color: #EDE4BB;
  color: #222222;
}

/* line 48, ../sass/theme-default.sass */
#leftbar a {
  color: #676767;
}

/* line 51, ../sass/theme-default.sass */
#leftbar a:hover {
  color: orange;
}

/* line 54, ../sass/theme-default.sass */
#content {
  background-color: #FFF3BF;
  color: #333333;
}

/* line 58, ../sass/theme-default.sass */
#content a {
  color: darkorange;
}

/* line 61, ../sass/theme-default.sass */
#content a:hover {
  color: black;
}

/* line 64, ../sass/theme-default.sass */
#rightbar {
  background-color: #EDE4BB;
  color: 222222;
}

/* line 68, ../sass/theme-default.sass */
#rightbar a {
  color: #676767;
}

/* line 71, ../sass/theme-default.sass */
#rightbar a:hover {
  color: orange;
}

/* line 74, ../sass/theme-default.sass */
.content-block {
  padding: 10px;
}

/* line 77, ../sass/theme-default.sass */
.sidebar-block {
  padding: 10px;
}

/* line 80, ../sass/theme-default.sass */
#logo {
  width: 100px;
  height: 40px;
  background: transparent url("../images/parable-logo_100px.png") top left;
  text-indent: -9999px;
}
