/* The default theme for the parable application. */
/* Default style base */
/* full height layout */
/* line 6, ../sass/theme-default.sass */
html, body {
  height: 100%;
}

/* line 9, ../sass/theme-default.sass */
#container {
  min-height: 100%;
  overflow: hidden;
}

/* line 13, ../sass/theme-default.sass */
#navigation, #content, #sidebar {
  margin-bottom: -9999px;
  padding-bottom: 9999px;
}

/* basic styling */
/* line 18, ../sass/theme-default.sass */
#container {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #262626;
  background-color: white;
  overflow: hidden;
}

/* line 25, ../sass/theme-default.sass */
a {
  color: darkorange;
}

/* line 28, ../sass/theme-default.sass */
a:hover {
  color: saddlebrown;
}

/* line 31, ../sass/theme-default.sass */
#header {
  background-color: #D9C693;
  padding: 10px 0 10px 0;
}

/* line 35, ../sass/theme-default.sass */
#body {
  background-color: white;
}

/* line 38, ../sass/theme-default.sass */
#navigation {
  background-color: #E8DBBA;
}

/* line 41, ../sass/theme-default.sass */
#content {
  background-color: white;
}

/* line 44, ../sass/theme-default.sass */
.content-block {
  padding: 10px;
}

/* line 47, ../sass/theme-default.sass */
#sidebar {
  background-color: #D3D5DB;
}

/* line 50, ../sass/theme-default.sass */
.sidebar-block {
  padding: 10px;
}

/* line 53, ../sass/theme-default.sass */
#logo {
  width: 100px;
  height: 40px;
  background: transparent url("../images/parable-logo_100px.png") top left;
  text-indent: -9999px;
}

/* navigation style */
/* line 60, ../sass/theme-default.sass */
#navigation-list {
  padding: 10px;
}
