{% extends 'base.html.twig' %}

{% set page_title = 'Login' %}

{% block body %}
    {% if app.request.hasPreviousSession and app.session.flashbag.all is not empty %}
        <div class="content-block">
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="content-block">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}

{% block leftbar %}
    <div class="sidebar-block">
        <p>Placeholder for left sidebar content.</p>
    </div>
{% endblock %}

{% block rightbar %}
    <div class="sidebar-block">
        <p>Placeholder for right sidebar content.</p>
    </div>
{% endblock %}