{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="message_error">{{ error.messageKey|trans(error.MessageData, 'security') }}</div>
    {% endif %}

    <div class="form_default">
        <form action="{{ path('login') }}" method="post">
            <label for="username">Username: </label>
            <input type="text" id="username" name="_username" value="{{ last_username }}"/>

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password"/>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <input type="hidden" name="_target_path" value="/dashboard"/>

            <button type="submit">Login</button>
        </form>

        <p>Not registered? <a href="{{ url('user_registration') }}">Sign up!</a></p>
    </div>
{% endblock %}